/* start first nav */
@media(max-width:992px){
    .first-nav{
        justify-content: center;
        padding: 0 15px;
    }
    .first-nav .nav-left{
        display: none;
    }
    .first-nav .nav-right .account{
        gap: 2px;
    }
    .first-nav .nav-right .account .drop-name {
        white-space: nowrap;
        padding: 4px 5px;
    }
    .first-nav .nav-right .account .drop.dropmobile.show{
        right: -35px;
    }
    
    .first-nav .nav-right .shop{
        display: flex;
        gap: 7px;
    }
    /* end first nav */
/* start logo nav */
.logo-header{
    display: none;
}
/* end logo nav */
/* start nav-bar */
.nav-bar{
    padding: 7px 15px;
    position: relative;
    width: 100%;
}
.nav-bar .left .categories{
    display: none;
}
.nav-bar .left{
    display: block;
}
.nav-bar .right{
    display: none;
}
.nav-bar .left .logo{
    display: flex;
}
.nav-bar .mobile-bars{
    display: block;
    position: absolute;
    right: 15px;
    top: 13px;
}
.nav-bar .left .links{
    display: none;
}
.nav-bar .left .links.show{
    display: block;
}
.nav-bar .left .links ul{
    display: block;
}
.nav-bar .left .links ul li{
    margin-top: 15px;
}
.nav-bar .left .links ul .pages-drop.show{
    position: static;
    width: 100%;
    padding: 0;
}
.nav-bar .left .links ul .pages-drop li:not(:last-of-type){
    margin-bottom: 0;
}
.nav-bar .left .links ul .pages-drop li{
    padding: 5px;
}

/* end nav-bar */

/* start header and carsoul */
.header{
    flex-direction: column;
    padding: 7px 15px;
}
.header .special-offer .offer{
    width: 100%;
}
/* end header and carsoul */
/* start service */
.services{
    padding: 7px 15px;
}
/* end service */
/* start catogries */
.allcatogries{
    padding: 7px 15px;
}
.catogries .box .text{
    width: 100%;
}
/* end catogries */

/*start feature  */
.feature{
    padding: 7px 15px;
}
/*end feature  */
/* start offer section */
.special-offersec{
    padding: 7px 15px;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
}
.special-offersec .offer{
    height: 200px;
}
/* end offer section */
/* start vendor */
.vendor{
    padding: 7px 15px;
}
/* end vendor */
/* start footer */
.foot{
    padding: 25px 15px 0;
}
.foot .copy-right{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));

}
/* end footer */
}
